<link rel="stylesheet" href="styles.css">
<header class="myheader">
    <h1>Orchestrator</h1>

    <nav>
      <ul class="parent">
        <li>
          <a href="http://localhost:3000/">
            Home Page
          </a>
        </li>
        <li><a href=""> About Us </a></li>
        <li id="dark" class="mode">change mode</li>
        <li><a href="/Dashboard"> Dashboard </a></li>
      </ul>
    </nav>
  </header>

  <!-- <link rel="stylesheet" href="styles.css" /> -->
